.container{
    padding-top: 200px;
}

.temperatura{
    padding-bottom: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texto{
    font-size: 35px;
}
input{
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 15px;
}
.centimetros{
    align-items: center;
    display: flex;
    flex-direction: column;
}


