*{
    margin: 0;
}
header{
    margin: 0;
    background-color: black;
    color: goldenrod;
    height: 80px;
}
h1{
    margin: 0;
    font-family:sans-serif;
    text-align: center;
    padding-bottom: 6px;
}
.rotas{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family:sans-serif;
    
}
.rotasTexto{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    border: 2.5px solid;
    
}